@using Reporting.Models
@model TumRaporlarViewModel

@{
    string periyot = Model.SatisRaporu.Periyot ?? "gunluk";

    string baslik =
    periyot == "haftalik" ? "Haftalık" :
    periyot == "aylik" ? "Aylık" :
    periyot == "yillik" ? "Yıllık" :
    periyot == "gunluk" ? "Günlük" :
    "Özel tarihler için";

    string baslangic = Context.Request.Query["BaslangicTarihi"];
    string bitis = Context.Request.Query["BitisTarihi"];

    SalesReportDashboardModel satisRaporu = Model.SatisRaporu;
}



<div class="scroll-smooth px-4 pb-8 md:px-24 md:pb-16">

    <div class="my-8 flex items-center justify-between">
        <div>
            <p class="kirmizi-yazi">Satış Raporları</p>
            <p class="h1-yazi !text-2xl !lg:text-3xl">@baslik satış performansı.</p>
        </div>

        <div class="flex flex-col">

            <form method="get" class="mt-10 flex flex-row gap-4">
                <div class="flex flex-col"> 
                    <label class="mb-1 block text-sm font-semibold text-slate-700">Başlangıç Tarihi</label>
                    <input type="date" value=@baslangic name="BaslangicTarihi" class="rounded-lg border px-3 py-2" />

                </div>
                <div class="flex flex-col">
                    <label class="mb-1 block text-sm font-semibold text-slate-700">Bitiş Tarihi</label>
                    <input type="date" value=@bitis name="BitisTarihi" class="rounded-lg border px-3 py-2" />
                </div>
                <button name="periyot" type="submit"  value="ozel" selected="@(periyot == "ozel")"
                        class="mt-5 rounded-lg bg-slate-900 px-5 text-sm font-semibold text-white">
                    Filtrele
                </button>


            </form>

            <form method="get">
                <div class="flex flex-row gap-5">
                    <p class="py-4 text-lg font-semibold text-black"> Hızlı işlemler: </p>

                    <button name="periyot" value="gunluk" type="submit" selected="@(periyot == "gunluk")" class="select-btn">
                        Günlük
                    </button>
                    <button name="periyot" value="haftalik" type="submit" selected="@(periyot == "haftalik")" class="select-btn">
                        Haftalık
                    </button>
                    <button name="periyot" value="aylik" type="submit" selected="@(periyot == "aylik")" class="select-btn">
                        Aylık
                    </button>
                    <button name="periyot" value="yillik" type="submit" " selected="@(periyot == "yillik")" class="select-btn">
                        Yıllık
                    </button>
                </div>

            </form>
        </div>
      
    </div>

    <div class="mb-8 grid grid-cols-1 gap-4 md:grid-cols-4">

        <div class="flex flex-row justify-between rounded-2xl border border-slate-200 bg-blue-500 p-6 shadow-sm">
            <div>
                <p class="text-base font-medium text-white">Toplam Satış</p>
                <p class="mt-3 text-3xl font-bold text-white">@satisRaporu.Ciro.Deger.ToString("N2") ₺</p>

                <div class="mt-2 flex flex-row items-center justify-start gap-3">
                    <div class="flex h-10 w-10 items-center justify-center rounded-xl bg-white/20">
                        <icon name="@satisRaporu.Ciro.Icon" class="h-6 w-6 text-white"></icon>
                    </div>

                    <p class="text-sm font-medium text-white">
                        %@Math.Abs(satisRaporu.Ciro.DegisimOrani).ToString("N1")
                    </p>
                </div>

                <p class="text-sm font-medium text-white">Geçen döneme göre</p>
            </div>

            <div class="flex h-14 w-14 items-center justify-center rounded-full bg-white/20">
                <icon name="cart" class="h-6 w-6 text-white"></icon>
            </div>
        </div>

        <div class="flex flex-row justify-between rounded-2xl border border-slate-200 bg-rose-500 p-6 shadow-sm">
            <div>
                <p class="text-base font-medium text-white">Toplam Maliyet</p>
                <p class="mt-3 text-3xl font-bold text-white">@satisRaporu.Maliyet.Deger.ToString("N2") ₺</p>

                <div class="mt-2 flex flex-row items-center justify-start gap-3">
                    <div class="flex h-10 w-10 items-center justify-center rounded-xl bg-white/20">
                        <icon name="@satisRaporu.Maliyet.Icon" class="h-6 w-6 text-white"></icon>
                    </div>

                    <p class="text-sm font-medium text-white">
                        %@Math.Abs(satisRaporu.Maliyet.DegisimOrani).ToString("N1")
                    </p>
                </div>

                <p class="text-sm font-medium text-white">Geçen döneme göre</p>
            </div>

            <div class="flex h-14 w-14 items-center justify-center rounded-full bg-white/20">
                <icon name="chart-pie" class="h-6 w-6 text-white"></icon>
            </div>
        </div>

        <div class="flex flex-row justify-between rounded-2xl border border-slate-200 bg-green-500 p-6 shadow-sm">
            <div>
                <p class="text-base font-medium text-white">Toplam Kar</p>
                <p class="mt-3 text-3xl font-bold text-white">@satisRaporu.Kar.Deger.ToString("N2") ₺</p>

                <div class="mt-2 flex flex-row items-center justify-start gap-3">
                    <div class="flex h-10 w-10 items-center justify-center rounded-xl bg-white/20">
                        <icon name="@satisRaporu.Kar.Icon" class="h-6 w-6 text-white"></icon>
                    </div>

                    <p class="text-sm font-medium text-white">
                        %@Math.Abs(satisRaporu.Kar.DegisimOrani).ToString("N1")
                    </p>
                </div>

                <p class="text-sm font-medium text-white">Geçen döneme göre</p>
            </div>

            <div class="flex h-14 w-14 items-center justify-center rounded-full bg-white/20">
                <icon name="money" class="h-6 w-6 text-white"></icon>
            </div>
        </div>

        <div class="flex flex-row justify-between rounded-2xl border border-slate-200 bg-purple-500 p-6 shadow-sm">
            <div>
                <p class="text-base font-medium text-white">Kar Oranı</p>
                <p class="mt-3 text-3xl font-bold text-white">%@satisRaporu.KarOrani.Deger.ToString("N2")</p>

                <div class="mt-2 flex flex-row items-center justify-start gap-3">
                    <div class="flex h-10 w-10 items-center justify-center rounded-xl bg-white/20">
                        <icon name="@satisRaporu.KarOrani.Icon" class="h-6 w-6 text-white"></icon>
                    </div>

                    <p class="text-sm font-medium text-white">
                        %@Math.Abs(satisRaporu.KarOrani.DegisimOrani).ToString("N1")
                    </p>
                </div>

                <p class="text-sm font-medium text-white">Geçen döneme göre</p>
            </div>

            <div class="flex h-14 w-14 items-center justify-center rounded-full bg-white/20">
                <icon name="percent" class="h-6 w-6 text-white"></icon>
            </div>
        </div>

    </div>

    

    <section id="CiroRaporu" class="my-12 scroll-mt-24">

        @await Html.PartialAsync("SatisRaporu", Model.SatisRaporu)
    </section>

    @* <section id="UrunKarlilikRaporu" class="my-12 scroll-mt-24">
        @await Html.PartialAsync("UrunKarlilik", Model.UrunKarlilik)
    </section>
    <section id="MusteriKarlilikRaporu" class="my-12 scroll-mt-24">
        @await Html.PartialAsync("MusteriKarlilik", Model.MusteriKarlilik)
    </section> *@

</div>





